# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

# OS
.DS_Store
Thumbs.db

# React Native / Mobile (à la place de frontend)
frontend/node_modules/
frontend/.expo/
frontend/.expo-shared/
frontend/android/
frontend/ios/
*.jks
*.keystore
*.p8
*.p12
*.cer

# Prisma (à ajouter)
prisma/migrations/dev.db

# Editeur (à ajouter)
.vscode/
.idea/
*.swp
